<style type="text/css" scoped>
  #optin {
    color: black;
    background-color: #f2f3f3;
    font-size: 15px;
    text-align: center;
    padding: 10px 28px;
    line-height: 1em;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 30px;
  }

  #optin h1 {
    font-size: 25px;
    font-weight: 800;
    margin: 0%;
    padding-bottom: 0.2em;
  }
  #optin h2 {
    padding-top: 0;
    font-size: 18px;
    margin: 0;
    padding-bottom: 0.3em;
  }
  #optin p {
    color: whitesmoke;
    font-size: 10px;
  }
</style>

<div id="optin">
  <h1>Do you want to join me on my adventure journey to investing in art?</h1>
  <h2>I will share all insights I gain with you</h2>
  <script
    type="text/javascript"
    src="//www.artventure.me/form/generate.js?id=1"
  ></script>
</div>
